<template>
  <pop-up v-show="PopUp"></pop-up>
  <p class="error" v-if="errorMessage">{{ errorMessage }}</p>
  <div class="info">
    <h1>Vous êtes ?</h1>
    <div class="button">
      <!-- <button> -->
        <input type="radio" class="sex" name="sex" value="Homme" id="homme" v-model="sex">
        <label for="homme">Homme</label>
      <!-- </button> -->
      <!-- <button> -->
        <input type="radio" class="sex" name="sex" value="Femme" id="femme" v-model="sex">
        <label for="femme">Femme</label>
      <!-- </button> -->
    </div>
    <h1>Age</h1>
    <input type="number" min="0" max="150" v-model="age" />
    <h1>Poids</h1>
    <input type="number" min="0" max="300" v-model="poids" />
    <h1>Taille</h1>
    <input type="number" min="0" max="300" v-model="taille" />
    <h1>Symptôme</h1>
    <ul id="mySymp">
      <li v-for="(sympP, index) in SympPatient" :key="index">
        {{ sympP }}
        <button class="supp" @click="suppSym(sympP, index)">❌</button>
      </li>
    </ul>
    <textarea id="myInput" placeholder="Situer votre symptôme" v-model="search" @mouseup="InputUp = true" />
    <transition name="fadeInDown"><ul v-show="InputUp" id="myUL">
      <li @mouseup="InputUp = false"><a v-for="(symp, index) in filteredList.slice(0, 3)" :key="index" @click="addSymp(symp, index)">{{symp}}</a></li>
    </ul></transition>
    <!-- <button style="width: 100%;">Valide</button> -->
  </div>
  <button @click="valid()">Suivant</button>
</template>

<script>
import PopUp from '@/components/PopUp.vue'

export default {
  components: { PopUp },
  name: 'HomeView',
  data() {
    return {
      sex: '',
      age: '',
      poids: '',
      taille: '',
      search: '',
      InputUp: false,
      PopUp: false,
      ListeSymp: [
        'Tête',
        'Front',
        'Oeil',
        'Sourcil',
        'Oreille',
        'Visage',
        'Nez',
        'Bouche',
        'Cou',
        'Epaule',
        'Torse',
        'Cheveux',
        'Bras',
        'Coude',
        'Taille',
        'Ventre',
        'Main',
        'Doigt',
        'Jambe',
        'Genou',
        'Pied',
        'Doigts de pied'
      ],
      SympPatient: [],
      errorMessage: ""
    }
  },
  methods: {
    addSymp(symp, index) {
      this.SympPatient.push(symp)
      this.ListeSymp.splice(index, 1)
    },
    suppSym(sympP, index) {
      this.ListeSymp.push(sympP)
      this.SympPatient.splice(index, 1)
    }/* ,
    myFunction() {
      var textarea, filter, ul, li, a, i, txtValue;
      textarea = document.getElementById('myInput');
      filter = textarea.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName('li');

      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    } */,
    valid() {
      if(this.sex && this.age && this.poids && this.taille){
        console.log(this.sex)
        console.log(this.age)
        console.log(this.poids)
        console.log(this.taille)
        console.log(this.SympPatient)
        this.errorMessage = ""
        this.PopUp = true
      }
      else{
        console.log("error")
        this.errorMessage = "Tout les champs obligatoires ne sont pas remplis"
      }
    }
  },
  computed: {
    filteredList() {
      return this.ListeSymp.filter(symp => {
        return symp.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
}
</script>

<style scoped>
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  margin: 25px;
}
.info h1 {
  font-size: 25px;
  font-weight: 400;
}
input {
  padding: 4px;
  text-align: center;
}
input, textarea {
  border: 1px solid #18352e;
  border-radius: 3px;
}
#mySymp {
  margin-top: -10px;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: white;
  padding: 6px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  cursor: pointer;
}
#myUL li a:hover:not(.header) {
  background-color: #eee;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
button {
  width: 80%;
  font-size: 25px;
  padding: 5px;
  background: #6b6b6b;
  color: #f5f5f5;
  border: 1px solid #0a2720;
  border-radius: 3px;
}
input[type="radio"].sex {
  display: none;
}
input[type="radio"].sex + label {
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
  font-size: 25px;
  padding: 5px;
  background: #6b6b6b;
  color: #f5f5f5;
  border: 1px solid #0a2720;
  border-radius: 3px;
  width: 40%;
}
input[type="radio"].sex:checked + label {
  background-color: #28a745;
}
input[type="radio"].sex:not(:checked):hover + label {
  background-color: rgb(137, 137, 137);
}
.supp {
  border: none;
  background: none;
  cursor: pointer;
  width: 40px;
}
.error {
  color: #D8000C;
  background: #FFBABA;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #D8000C;
  width: 80%;
  margin-bottom: 15px;
  margin: auto;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInDown-enter-active {
  animation-name: fadeInDown;
  animation-duration: 400ms;
}
</style>