<template>
  <div class="login">
    <div class="container">
      <h1>Login</h1>
      <p class="error" v-if="errorMessage">{{ errorMessage }}</p>
      <input type="text" placeholder="email" v-model="email">
      <input type="password" placeholder="password" v-model="password">
      <button @click="login">Login</button>
      <span>Don't have an account ? <router-link to="/register">Sign up</router-link></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoginView',
  data() {
    return {
      email: "",
      password: "",
      errorMessage: ""
    }
  },
  methods: {
    async login() {
      await fetch(
        'http://localhost:8080/user/login',
        {
          method : "POST",
          body : JSON.stringify({
            username : this.email,
            password : this.password
          }),
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
          },        
        }
      )
        this.$router.push("/")
    }
  }
}
</script>

<style scoped>
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3em);
}
.login .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.login h1 {
  margin-bottom: 15px;
}
.login input {
  font-size: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: #565656 1px solid;
  padding: 5px;
}
.login input:focus {
  outline: none;
  background: #ececec;
}
.login button {
  margin-top: 30px;
  width: 150px;
  height: 30px;
}
.login span {
  margin-top: 15px;
  color: gray;
}
.login a {
  color: royalblue;
}
.error {
  color: #D8000C;
  background: #FFBABA;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #D8000C;
  width: 100%;
  margin-bottom: 15px;
}
</style>