<template>
    <div class="question">
          <h1 v-if="question">{{question.result.question_text}}</h1>
          <label><input type="radio" name="answer" value="1" required v-model="answer" /> Oui</label><br />
          <label><input type="radio" name="answer" value="0" required v-model="answer" /> Non</label><br />
          <label><input type="radio" name="answer" value="0.5" required v-model="answer" /> Je ne sais pas</label><br />
          <label><input type="radio" name="answer" value="0.75" required v-model="answer" /> Probablement</label><br />
          <label><input type="radio" name="answer" value="0.25" required v-model="answer" /> Probablement pas</label><br />
          <br />
          <button @click="sendAnswer()" :disabled="answer == null">Next</button>
    </div>
</template>

<script setup>
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router';
import axios from 'axios'

const router = useRouter()

const question = ref(null)
const answer = ref(null)

onMounted(async () => {
  const request = (await axios.get(`http://127.0.0.1:5000/test`)).data
  if(request.result.question) question.value = request
})

const sendAnswer = async () => {
  const request = (await axios.get(`http://127.0.0.1:5000/test?question=${question.value.result.question}&answer=${answer.value}`)).data
  if(request.result.question) question.value = request
  if(request.result.result) router.push('/verdict')
}

</script>

<style scoped>
.question {
  display: flex;
  flex-direction: column;
  margin: 25px;
}
.question h1 {
  font-size: 25px;
  font-weight: 400;
}
.reponse {
  display: flex;
  flex-direction: column;
}
button {
  width: 80%;
  font-size: 25px;
  margin: auto;
  padding: 5px;
  background: #6b6b6b;
  color: #f5f5f5;
  border: 1px solid #0a2720;
  border-radius: 3px;
  margin-bottom: 8px;
}
button {
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
  font-size: 25px;
  padding: 5px;
  color: #f5f5f5;
  border: 1px solid #0a2720;
  border-radius: 3px;
  width: 40%;
  background: #006b58;
}
button:disabled {
  background: #6b6b6b;
}
</style>