<template>
  <div class="register">
    <div class="container">
      <h1>Register</h1>
      <p class="error" v-if="errorMessage">{{ errorMessage }}</p>
      <input type="text" placeholder="name" v-model="name">
      <input type="text" placeholder="email" v-model="email">
      <input type="password" placeholder="password" v-model="password">
      <input type="password" placeholder="password confirmation" v-model="passwordConfirmation">
      <button @click="register">Register</button>
      <span>Already have an account ? <router-link to="/login">Sign in</router-link></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegisterView',
  data() {
    return {
      email: "",
      name: "",
      password: "",
      passwordConfirmation: "",
      errorMessage: ""
    }
  },
  methods: {
    async register() {
      if (this.password !== this.passwordConfirmation) {
        this.errorMessage = "The passwords are not the same"
        return
      }
      await fetch(
        'http://localhost:8080/user/register',
        {
          method : "POST",
          body : JSON.stringify({
            username : this.email,
            password : this.password
          }),
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
          },        
        }
      )
      this.$router.push("/")
    }
  }
}
</script>

<style scoped>
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: auto;
}
.register .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.register h1 {
  margin-bottom: 15px;
}
.register input {
  font-size: 20px;
  margin: 10px 0;
  border: none;
  border-bottom: #565656 1px solid;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}
.register input:focus {
  outline: none;
  background: #ececec;
}
.register button {
  margin-top: 30px;
  width: 150px;
  height: 30px;
}
.register span {
  margin-top: 15px;
  color: gray;
}
.register a {
  color: royalblue;
}
.error {
  color: #D8000C;
  background: #FFBABA;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #D8000C;
  width: 100%;
  margin-bottom: 15px;
}
</style>
