<template>
    <div class="verdict">
        <h1 v-if="answer">Il serait possible que vous ayez:<br/>{{answer.result.result}}</h1>
 
        <h1>Traitement conseillé</h1>
        <ul v-if="answer">
            <li>{{answer.result.precaution_1}}</li>
            <li>{{answer.result.precaution_2}}</li>
            <li>{{answer.result.precaution_3}}</li>
            <li v-if="!!answer.result.precaution_4">{{answer.result.precaution_4}}</li>
        </ul>
    </div>
</template>

<script setup>
import { onMounted, ref } from 'vue'
import axios from 'axios'

const answer = ref(null)

onMounted(async () => {
  const request = (await axios.get(`http://127.0.0.1:5000/test`)).data
  answer.value = request
})

</script>

<style scoped>
.verdict {
  margin: 25px;
}
.verdict h1 {
  font-size: 30px;
  font-weight: 600;
  color: #006b58;
}
.verdict p, .verdict li {
  font-weight: 400;
  font-size: 25px;
  color: #002019;
  text-align: left;
  margin: 3px;
}
.persist p {
    margin: auto;
}
li {
    list-style-type: '- ';
}
ul{
    padding-left: 12px;
}
</style>