<template>
    <!-- <button @click="showPopUp = true">Show PopUp</button> -->
    <transition v-show="showPopUp" name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <h1>Démarche d'amélioration</h1>
                    </div>
                    <div class="modal-body">
                        <p>
                            Afin d'améliorer notre intelligence artificielle et de vous proposer des résultats toujours
                            plus fiables, nous avons besoin de votre aide.
                        </p>
                        <input type="checkbox" v-model="useData" id="data">
                        <label for="data">Autorisez-nous à utiliser vos données de manière anonyme</label>
                    </div>
                    <div class="modal-footer">                                   
                        <button @click="valid()">
                            Valider
                        </button>    
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'PopUp',
    data() {
        return {
            useData: false,
            showPopUp: true
        }
    },
    methods: {
        valid(){
            this.showPopUp = false
            this.$router.push('/questions')
        }
    }
}
</script>


<style scoped>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.modal-header {
    margin-top: 0;
    color: #006b58;
    font-size: 10px;
}
.modal-body {
    margin: 20px 0;
    text-align: left;
}

.modal-footer {
    text-align: right;
    margin-bottom: 0;
}
.modal-enter {
    opacity: 0;
}
.modal-leave-active {
    opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>