<template>
  <div class="header">
    <img alt="MediConseil" src="./assets/logo_masterproject.svg" style="width: 60%;" />
  </div>
  <!-- <nav>
    <router-link to="/">Home</router-link>
      |  <router-link to="/questions">Question</router-link>
        |  <router-link to="/verdict">Verdict</router-link>
        |  <router-link to="/login">Login</router-link>
  </nav> -->
  <router-view/>
  <router-link to="/"><div class="footer">
    <img alt="bouton accueil" src="./assets/accueil.png" />
  </div></router-link>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #fafafa;
}
nav a {
  font-weight: bold;
  color: #2c3e50;
}
nav a.router-link-exact-active {
  color: #42b983;
}
.footer {
  margin-top: 15px;
  background: #006b58;
}
.footer img {
  padding-top: 20px;
  padding-bottom: 15px;
  height: 50px;
  width: auto;
}
</style>
